<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:right">
        سلام<br />
        برای فعال سازی حساب کاربری خود روی لینک زیر کلیک کنید<br />

    </div>
    <div style="text-align:center">
        <a href=@URL>فعالسازی</a>
    </div>
</body>
</html>
