
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MVC WEB_API2</title>
</head>
<body>
    <div> 
        ASP>NET MVC WEB_API2 ---------- Sajjad Haghighat
    </div>
</body>
</html>
