
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MVC WEB_API2</title>
</head>
<body>
    <div style="background-color:#673ab7;
                 color:white;
                 text-align:center;
                 height:auto;
                 padding:20px;
                 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
        <h2>Visual Studio 2019</h2>
        <h1>ASP.NET MVC Web Api</h1>
    </div>
    <div style="background-color:#673ab7;
                 color:white;
                 text-align:center;
                 height:auto;
                 padding:20px;
                 font-family:IRANSansWeb">
        <h2>Sajjad Haghighat</h2>
    </div>
    <div style="text-align:center">
        <img src="~/Content/architectureA.png" />
    </div>
    
</body>
</html>
